.body
{
    margin: 0;
    padding: 0;
    background-color:#637297;
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: tan;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: black;
    padding: 20px;
}
label{
    color: whitesmoke;
    font-size: 17px;
}
#Uname{
    align-self: center;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 3px;
    
}
#Pass{
    align-self: center;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 3px;

}
#log{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
}


.options {
    font-size: small;
}